/* HEADER */
header {
  background: #A57E62;
  text-align: center;
  padding: .5em;
}

h1 {
  font-size: 2em;
}
#save {
  position: fixed;
  top: 15px;
  right: 105px;
}

#redo {
  position: fixed;
  top: 15px;
  right: 60px;
}

#undo {
  position: fixed;
  top: 15px;
  right: 15px;
}

/* LEFT ASIDE */
#shapes {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 110px;
}

.shape {
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* RIGHT ASIDE */
#draw-settings {
  position: fixed;
  top: 230px;
  right: 30px;
  text-align: center;
  width: 110px;
}

.content-style {
  display: block;
  width: 110px;
}

.radio {
  display: inline;
  width: 20px;
  margin-top: 10px;
}

/* CANVAS GRID */
canvas {
  background: white;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}