header {
  height: 50px;
  background: linen;
}

header div {
  display: inline-block;
  border: 1px solid black;
}

#title {
  text-align: center;
  color: blue;
  margin: auto;
}

#draw-sample {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 3px solid white;
}

input {
  width: 50px;
}

canvas {
  background: white;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}