/* HEADER */
header {
  background: #A57E62;
  text-align: center;
  padding: .5em;
}

h1 {
  font-size: 2em;
}

/* LEFT ASIDE */
#shapes {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 110px;
}

.shape {
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

#square {
  width: 40px;
  height: 40px;
  background: grey;
}

#circle {
  width: 40px;
  height: 40px;
  background: grey;
  border-radius: 50%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid grey;
}

#diamond {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: grey;
  position: relative;
  top: -20px;
}

#diamond:after {
  content: '';
  position: absolute;
  left: -20px;
  top: 20px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: grey;
}

/* RIGHT ASIDE */
#sample-container {
  position: fixed;
  top: 70px;
  right: 30px;
  background: rgb(240, 240, 240);
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 15px;
}

#draw-sample {
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
}

#draw-settings {
  position: fixed;
  top: 200px;
  right: 20px;
  text-align: center;
}

input {
  display: block;
}

.radio {
  display: inline;
}

/* CANVAS GRID */
canvas {
  background: white;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}